$font-stack:    Helvetica, sans-serif;
$primary-color: rgb(23, 215, 100);
@mixin myFlex {
  
} 

#square{
  height: 100px;
  width: 100px;
  border: 2px solid black;
}

#squaretext{
  text-align: center;
  padding: 40px;
}

#board{
  @include 
  width: 320px;
  height: 300px
}
